/* Tarja preta do topo do Header */
.header-top-bar {
    background-color: var(--cor-secondary-dark); 
    text-align: center;  
    padding: 20px; 
}

/* Texto da Tarja preta do topo do Header */
.header-title-top {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    color: var(--color-secondary-white);
    display: flex;
    justify-content: center;    
    
}
/* Toda a parte do Header em Laranja */
.main-header {
    background-color: var(--color-primary-orange);
    display: flex;
    justify-content: space-between;
    /* Alinha o grupo esquerdo e o botão WhatsApp nas extremidades */    
    align-items: center; 
    padding: 20px 70px; 
    
}
.header-left {
    display: flex; 
    gap: 20px; /* Ajuste este valor para controlar a distância entre os blocos */
}

/* 5. Seção de Imagem e Clima/Temperatura */
.header-image {
    width: 100px; 
    height: auto;
 
}
.header-climate-info{
    display: flex;
    align-items: center;
}
.temperature-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
    line-height: 1.3; /* Espaçamento mais apertado entre as linhas */
    color: var(--color-primary-terra);
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    
}
.local-temperature{
    color: var(--color-primary-terra);
    white-space: nowrap; /* Garante que a quebra não ocorra no meio do link */
    font-family: var(--font-body);
    font-size: var(--font-body-size);
}
.nav-header{
   height: 100px;
   display: flex;
      
}
/* Menu de navegação do Header */
.navigation-list {   
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 80px; 
    
    
}
.navigation-list a {
   
    text-decoration: none;
    color: var(--color-primary-terra);
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    transition: color 0.3s;
    white-space: nowrap; /* Garante que a quebra não ocorra no meio do link */
}

.navigation-list a:hover {
    color: var(--color-secondary-white);
}
.separator-header {
    width: 100%;
    height: 2px; /* Espessura da linha (ajuste para a espessura desejada) */
    background-color: var(--color-primary-terra);

     
  
}


.whatsapp-icon{
    width: 200px;
}