/* Reset do CSS */ 
*{
    margin: 0; /* Espaçamento Externo do elemento*/
    padding: 0; /* Espaçamento Interno do elemento*/
    border: 0; /* Borda do elemento*/
    box-sizing: border-box;
}/* Reset do CSS */ 

/* Variáveis de cores baseadas no screenshot */
:root {
    
    --color-primary-orange: #E3D4CF; /* Cor bege claro */
    --color-primary-terra: #5B2E0F;
    --cor-secondary-gray: #333333;
    --color-alerts-green: #004E05; /* Verde WhatsApp */
    --color-alerts-red: #770000;
    --color-secondary-white: #FFFFFF;
    --cor-secondary-dark: #010101;

    --font-hideline-h1-size: 60px;
    --font-hideline-h2-size: 48px;
    --font-hideline-h3-size: 28px;
    --font-hideline-h4-size: 22px;
    --font-button-size: 20px;
    --font-body-size: 16px;

    --font-title:"Josefin Sans", sans-serif;
    --font-body:"Yanone Kaffeesatz", sans-serif;


    


}